/* styles.css */

.head {
    color: white;
    background-color: black;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
}

#family {
    height: auto;
    width: fit-content;
    align-self: center;
}